GITHUB_WEBHOOK_SECRET=aaaaaaaaaaaaaaaaaaa
GITHUB_APP_ID=123456
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GITHUB_USERNAME=peterp
GITHUB_REPO=redwoodjs/machinen
GITHUB_API_URL=http://localhost:8910

BRIDGE_URL=http://localhost:8911
BRIDGE_API_KEY=dummy-key
EXIT_ON_ERROR=true
